body {
	background-color: #F1C345;
}

* {
	font-size: 1.05rem;
}

@import
	url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.navbar {
	background-color: #414141;
	margin-top: 20px;
	height: 80px;
}

.cookieConsentContainer {
	z-index: 999;
	width: 350px;
	min-height: 20px;
	box-sizing: border-box;
	padding: 30px 30px 30px 30px;
	background: #232323;
	overflow: hidden;
	position: fixed;
	bottom: 30px;
	right: 30px;
	display: none
}

.cookieConsentContainer .cookieTitle a {
	font-family: OpenSans, arial, sans-serif;
	color: #fff;
	font-size: 22px;
	line-height: 20px;
	display: block
}

.cookieConsentContainer .cookieDesc p {
	margin: 0;
	padding: 0;
	font-family: OpenSans, arial, sans-serif;
	color: #fff;
	font-size: 13px;
	line-height: 20px;
	display: block;
	margin-top: 10px
}

.cookieConsentContainer .cookieDesc a {
	font-family: OpenSans, arial, sans-serif;
	color: #fff;
	text-decoration: underline
}

.cookieConsentContainer .cookieButton a {
	display: inline-block;
	font-family: OpenSans, arial, sans-serif;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	margin-top: 14px;
	background: #000;
	box-sizing: border-box;
	padding: 15px 24px;
	text-align: center;
	transition: .3s;
}

.cookieConsentContainer .cookieButton a:hover {
	cursor: pointer;
	background: #3e9b67
}

.backcard {
	height: 20rem;
	margin-left: 15rem;
	margin-top: 10rem;
	background-color: rgba(231, 231, 231, .25);
	border-radius: 15px;
	box-shadow: 2px 2px 15px #868686;
	display: inline-flex;
}

.card-img-cadprod {
	position: relative;
	top: 15px;
	left: 55%;
}

.card-img-cadlistprod {
	position: relative;
	top: 25px;
	left: 50%;
}

.btn-produtocad {
	position: relative;
	top: 4rem;
	left: 55%;
}

.btn-produtolist {
	position: relative;
	top: 4rem;
	left: 70%;
}

th {
	font-size: 12pt;
}

@media ( max-width :980px) {
	.cookieConsentContainer {
		bottom: 0 !important;
		left: 0 !important;
		width: 100% !important
	}
}

h4 {
	color: #ffffff;
	text-align: center;
}

.card {
	background-color: rgba(245, 245, 245, 0.4);
}

.card-header, .card-footer {
	opacity: 1
}